* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.flex {
  display: flex;
}

.full-container {
  /* width: 100%; */
  height: 100%;
  position: relative;
}

.full-container .col1 {
  width: 170px;
  padding-left: 10px;
  height: 650px;
  background-color: black;
}

aside {
  width: 100%;
  /* position: fixed; */
  /* height: 100%; */
}

.logo-spotify {
  width: 61%;
  /* position: fixed; */
  height: 100px;
  background-image: url(img/logo.svg);
  background-size: contain;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-menu {
  /* width: calc(100% - 95px); */
  height: 83%;
  padding-left: 10px;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  left: 0;
}

.nav-top {
  height: 15%;
  margin-bottom: 10px;
}
.icon-top {
  width: 100%;
  height: 33%;
  display: flex;
  color: lightgray;
}

.icon-top a {
  text-decoration: none;
  color: gray;
}

.nav-center {
  height: 74%;
}

.nav-center h3 {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.nav-center .fas {
  background-color: lightgray;
  font-size: 1.5rem;
  padding: 5px;
  color: black;
}

.nav-center li {
  margin-bottom: 10px;
}

.nav-center li a {
  color: gray;
  text-decoration: none;
}

.fas {
  color: lightgrey;
  font-size: 1.3rem;
}

.nav-bottom {
  width: 100%;
  color: gray;
  text-decoration: none;
  font-size: 0.4rem;
}

.nav-bottom .fa-arrow-down {
  color: gray;
  border: 1px solid grey;
  border-radius: 50%;
  font-size: 0.7rem;
  padding: 3px;
}

.nav-bottom .installa-icon {
  border-bottom: 2px solid gray;
  display: flex;
  padding-bottom: 5px;
}

.nav-bottom .fas-fa-arrow-down {
  font-size: 0.5rem;
}

.nav-bottom .profile-icon {
  color: white;
  display: flex;
  margin-top: 5px;
}

.nav-bottom span {
  color: white;
}

.nav-bottom a {
  text-decoration: none;
  color: gray;
}

.full-container .col2 {
  width: calc(100% - 170px);
  position: relative;
  /* height: 100vh; */
  overflow: scroll;
  background-color: #141922;
  flex-direction: column;
}

.full-container .col2 header {
  height: 10%;
  position: fixed;
  top: 3px;
  right: 17px;
  width: calc(100% - 170px);
  justify-content: flex-end;
  background-color: #080b12;
  opacity: 0.5;
}

header .btn-header {
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px;
  margin: 15px;
  background-color: #080b12;
  color: white;
  display: flex;
  /* position: fixed; */
  align-items: center;
}

.btn-header a {
  color: white;
  text-decoration: none;
}

.col2 .gallery {
  width: 100%;
  padding: 0 20px;
  /* height: 85%; */
  height: calc(100vh - 95px);
  /* overflow-y: scroll; */
}

.gallery .nav-gallery {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  flex-wrap: wrap;
}

.nav-gallery a {
  text-decoration: none;
  color: gray;
  padding: 20px;
}

.cover-gallery {
  /* width: 100%; */
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  /* align-content: flex-start; */
  margin-top: 10px;
}

.cover-top {
  width: calc(100% / 6 - 10px);
  /* height: 150px; */
  /* flex-direction: column; */
  /* background-size: cover; */
  margin-right: 10px;
}

.cover img {
  /* height: auto; */
  width: calc(100% / 1);
}

.gallery h2 {
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
}

.gallery h3 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.gallery h5 {
  text-align: center;
  color: grey;
}
.gallery span {
  color: gray;
}

.cover-center {
  width: calc(100% / 6 - 10px);
  margin-right: 10px;
}
.cover-bottom {
  width: calc(100% / 6 - 10px);
  margin-right: 10px;
}
.cover-bottom img {
  border-radius: 50%;
}

/*------footer-------*/

footer {
  height: 95px;
  position: fixed;
  width: 100%;
  background-color: #282828;
  bottom: 0;
}

.cont-footer {
  width: calc(100% / 3);
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.footer .left {
  width: calc(100% / 2);
}

.img-footer {
  display: flex;
}

.img-footer img {
  width: 16%;
  margin-right: 6px;
}

.text-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}

.text-song h6 {
  color: white;
}
.text-song span {
  color: gray;
}

.buttons-song {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: gray;
}

.buttons-song i {
  font-size: 1.1rem;
}

.buttons-player {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.buttons-player i {
  font-size: 1.3rem;
  color: lightgrey;
}

.buttons-player span {
  color: white;
  margin: 0 5px;
}

.time-line {
  width: 90%;
  border: 1px solid gray;
  background-color: gray;
  border-radius: 3px;
}

.white-line {
  width: 30%;
  border: 1px solid white;
  background-color: white;
}

footer .right {
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.speaker-line {
  width: 30%;
  border: 1px solid gray;
  background-color: gray;
  border-radius: 3px;
}

.right i {
  margin-right: 7px;
}

@media screen and (max-width: 770px) {
  .cover-top {
    width: calc(100% / 4 - 10px);
  }
}

@media screen and (max-width: 590px) {
  * {
    font-size: 0.8rem;
  }
  .cover-top {
    width: calc(100% / 3 - 10px);
  }
}

@media screen and (max-width: 520px) {
  .cover-top {
    width: calc(100% / 2 - 10px);
  }
  .col1 span {
    display: none;
  }
  .col1 h3 {
    display: none;
  }
  .logo-spotify {
    display: none;
  }

}
